src/Api/bin/Debug/net9.0/Api.deps.json
src/Api/bin/Debug/net9.0/Api.dll
src/Api/bin/Debug/net9.0/Api.exe
src/Api/bin/Debug/net9.0/Api.pdb
src/Api/bin/Debug/net9.0/Api.runtimeconfig.json
src/Api/bin/Debug/net9.0/Api.staticwebassets.endpoints.json
src/Api/bin/Debug/net9.0/appsettings.json
src/Api/bin/Debug/net9.0/Dapper.dll
src/Api/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
src/Api/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
src/Api/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/Api/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
src/Api/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
src/Api/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/Api/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
src/Api/bin/Debug/net9.0/Microsoft.OpenApi.dll
src/Api/bin/Debug/net9.0/MySqlConnector.dll
src/Api/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
src/Api/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/Api/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/Api/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
src/Api/obj/Api.csproj.nuget.dgspec.json
src/Api/obj/Api.csproj.nuget.g.props
src/Api/obj/Api.csproj.nuget.g.targets
src/Api/obj/project.assets.json
src/Api/obj/project.nuget.cache
src/Api/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
src/Api/obj/Debug/net9.0/Api.AssemblyInfo.cs
src/Api/obj/Debug/net9.0/Api.AssemblyInfoInputs.cache
src/Api/obj/Debug/net9.0/Api.assets.cache
src/Api/obj/Debug/net9.0/Api.csproj.AssemblyReference.cache
src/Api/obj/Debug/net9.0/Api.csproj.CoreCompileInputs.cache
src/Api/obj/Debug/net9.0/Api.csproj.FileListAbsolute.txt
src/Api/obj/Debug/net9.0/Api.csproj.Up2Date
src/Api/obj/Debug/net9.0/Api.dll
src/Api/obj/Debug/net9.0/Api.GeneratedMSBuildEditorConfig.editorconfig
src/Api/obj/Debug/net9.0/Api.genruntimeconfig.cache
src/Api/obj/Debug/net9.0/Api.GlobalUsings.g.cs
src/Api/obj/Debug/net9.0/Api.MvcApplicationPartsAssemblyInfo.cache
src/Api/obj/Debug/net9.0/Api.MvcApplicationPartsAssemblyInfo.cs
src/Api/obj/Debug/net9.0/Api.pdb
src/Api/obj/Debug/net9.0/Api.sourcelink.json
src/Api/obj/Debug/net9.0/apphost.exe
src/Api/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
src/Api/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
src/Api/obj/Debug/net9.0/rpswa.dswa.cache.json
src/Api/obj/Debug/net9.0/staticwebassets.build.endpoints.json
src/Api/obj/Debug/net9.0/staticwebassets.build.json
src/Api/obj/Debug/net9.0/staticwebassets.build.json.cache
src/Api/obj/Debug/net9.0/ref/Api.dll
src/Api/obj/Debug/net9.0/refint/Api.dll
